Repository kubernetes-sigs/kube-scheduler-wasm-extension, pull requests merged in 2023-11, with the labels that each got.

#58 allow the scheduler configuration to have multi wasm plugins
  RATIONALE.md
  internal/e2e/profiler/profiler.go
  internal/e2e/scheduler/scheduler_test.go
  internal/e2e/scheduler_perf/scheduler_perf_test.go
  scheduler/cmd/scheduler/config.go
  scheduler/cmd/scheduler/config_test.go
  scheduler/cmd/scheduler/main.go
  scheduler/go.mod
  scheduler/go.sum
  scheduler/plugin/plugin.go
  scheduler/plugin/plugin_test.go
Labels: kind/feature, approved, lgtm, cncf-cla: yes, size/L

#77 support prebind and bind plugins
  Makefile
  guest/api/types.go
  guest/bind/bind.go
  guest/plugin/plugin.go
  guest/prebind/prebind.go
  guest/testdata/bind/main.go
  guest/testdata/bind/main.wasm
  guest/testdata/cyclestate/main.go
  guest/testdata/cyclestate/main.wasm
  internal/e2e/scheduler_perf/scheduler_perf_test.go
  scheduler/plugin/guest.go
  scheduler/plugin/plugin.go
  scheduler/plugin/plugin_test.go
  scheduler/test/testdata.go
  scheduler/test/testdata/error/panic_on_bind.wasm
  scheduler/test/testdata/error/panic_on_bind.wat
  scheduler/test/testdata/error/panic_on_prebind.wasm
  scheduler/test/testdata/error/panic_on_prebind.wat
  scheduler/test/testdata/test/bind_from_global.wasm
  scheduler/test/testdata/test/bind_from_global.wat
  scheduler/test/testdata/test/prebind_from_global.wasm
  scheduler/test/testdata/test/prebind_from_global.wat
Labels: kind/feature, approved, kind/api-change, lgtm, cncf-cla: yes, size/XL

#78 misc: fix message on panic
  guest/testdata/cyclestate/main.go
Labels: approved, lgtm, size/XS, cncf-cla: yes, kind/cleanup

#76 support scoreExtensions
  guest/api/types.go
  guest/internal/imports/host.go
  guest/internal/imports/imports.go
  guest/internal/imports/imports_stub.go
  guest/plugin/plugin.go
  guest/scoreextensions/imports.go
  guest/scoreextensions/imports_stub.go
  guest/scoreextensions/scoreextensions.go
  guest/testdata/cyclestate/main.go
  guest/testdata/cyclestate/main.wasm
  guest/testdata/score/main.go
  guest/testdata/score/main.wasm
  internal/e2e/e2e.go
  scheduler/plugin/guest.go
  scheduler/plugin/host.go
  scheduler/plugin/plugin.go
  scheduler/plugin/plugin_test.go
  scheduler/test/testdata.go
  scheduler/test/testdata/error/panic_on_scoreextensions.wasm
  scheduler/test/testdata/error/panic_on_scoreextensions.wat
  scheduler/test/testdata/error/scoreextensions_without_score.wasm
  scheduler/test/testdata/error/scoreextensions_without_score.wat
  scheduler/test/testdata/test/scoreextensions_from_global.wasm
  scheduler/test/testdata/test/scoreextensions_from_global.wat
Labels: kind/feature, approved, kind/api-change, lgtm, cncf-cla: yes, size/XL
